<div class="container">
  <%- partial('_partial/sidebar') %>
  <div class="jptr-content">
    <%- partial('_partial/post', {post: page}) %>
    <%- partial('_partial/post-navigation', {post: page}) %>
  </div>
</div>