<div class="jptr-sidebar-sm">
  <div class="jptr-sidebar-sm__photo">
    <a href="<%- config.root %>"><img src="<%- config.root %><%- theme.sidebar.photo %>" /></a>
  </div>
  <div class="jptr-sidebar-sm__title">
    <strong><%= theme.sidebar.title %></strong>
  </div>
</div>